In [1]:
print("Hello World!!!!")

Hello World!!!!

In [2]:
print('Hello World ')

Hello World

In [4]:
print(Hello)

NameError: name 'Hello' is not defined

In [5]:
print("Hello all \nHow's your day going")

Hello all
How's your day going

In [6]:
print(545453)

545453

In [7]:
print(434+43)

477

In [8]:
print(56.8)

56.8

In [9]:
print(5)

5

In [10]:
print("5")

5

## Data Types:

1. Integer
2. Floats
3. String
4. Booleans

In [11]:
5

5

In [12]:
6

6

In [13]:
12342342

12342342

In [14]:
56

56

In [15]:
type(56)

int

In [16]:
print(type(56))

<class 'int'>

In [17]:
#floats: decimal values

In [18]:
5.6

5.6

In [19]:
5.5

5.5

In [20]:
type(5.5)

float

In [21]:
type(5.0)

float

In [22]:
type(5.000000)

float

In [23]:
## String = Anything that is enclosed in "" ,'' is a string

#### String = set of characters that contain numbers, alphabets and otehr special characters

In [25]:
"jaiyesh"

'jaiyesh'

In [26]:
'jaiyesh'

'jaiyesh'

In [27]:
type("Petroleum")

str

In [28]:
"5"

'5'

In [29]:
type("5")

str

In [30]:
type("5.0")

str

In [31]:
"@#@#$@$&**()(&*^&kasnfldkldsj;lasdkfasdf )"

'@#@#$@$&**()(&*^&kasnfldkldsj;lasdkfasdf )'

In [38]:
### Booleans = Conditions 
True

True

In [33]:
True

True

In [34]:
False

False

In [35]:
type(True)

bool

In [36]:
true

NameError: name 'true' is not defined

In [37]:
TRUE

NameError: name 'TRUE' is not defined

In [39]:
#mathematical Operations

In [40]:
55+8

63

In [41]:
55-8

47

In [42]:
2*63

126

In [43]:
2/5

0.4

In [44]:
#exponential power

5**3

125

In [45]:
## * for multiplication, ** for exponential power

In [46]:
5**2

25

In [47]:
8**2

64

In [50]:
### Quotient of a division: //

32//5

6

In [51]:
### Remainder of a division: %

32%5

2

In [52]:
### / for division, // for quotient, % for remainder

In [53]:
45.32+5

50.32

In [54]:
### Strings mathematical operations

In [55]:
"5"+"6"

'56'

In [57]:
"5"*3
## "5"*3 == "5"+"5"+"5"

'555'

In [58]:
3*"5"

'555'

In [59]:
"4"*56

'44444444444444444444444444444444444444444444444444444444'

In [60]:
"4"*"5"

TypeError: can't multiply sequence by non-int of type 'str'

In [61]:
"a"+6

TypeError: can only concatenate str (not "int") to str

In [62]:
"Petroleum"*3

'PetroleumPetroleumPetroleum'

In [63]:
"Petroleum "*3

'Petroleum Petroleum Petroleum '

In [64]:
type(True)

bool

In [65]:
type(False)

bool

In [66]:
78>56

True

In [67]:
234<87

False

In [68]:
56==56

True

In [69]:
56==34

False

In [70]:
56!=54

True

In [71]:
556!=556

False

In [76]:
67!=67

False

In [80]:
45>23 and 24<34

True

In [81]:
45>23 and 24>34

False

In [82]:
45>23 or 24>34

True

In [83]:
45<23 or 24>34

False

## Variables: Containers for storing values

- A variable is created the moment you assign a value to it using "=" sign

- Entity to hold data in runtime

- in main memory(RAM) data is stored

In [2]:
g = 9.8

In [86]:
g

9.8

In [87]:
g

9.8

In [88]:
g*10

98.0

In [3]:
g

9.8

In [4]:
#initialization
g = 9.8

In [5]:
a = 565
b="Petroleum"

In [6]:
a

565

In [7]:
b

'Petroleum'

In [8]:
b = Petroleum

NameError: name 'Petroleum' is not defined

In [9]:
b

'Petroleum'

In [10]:
"b"

'b'

In [11]:
Petroleum = "its a variable now"

In [12]:
Petroleum

'its a variable now'

In [13]:
b = Petroleum # Reinitialized our variable

In [15]:
b

'its a variable now'

In [16]:
a = 5

print(a)

a = "Porosity"
print(a)

a = b
print(a)

5
Porosity
its a variable now

## Variable names cannot start with a number or special character, _ is allowed

## Cannot have spaces beetween two characters, _ is allowed

In [17]:
@a = 0

SyntaxError: invalid syntax (<ipython-input-17-b9644b6daf2b>, line 1)

In [18]:
1a = 56

SyntaxError: invalid syntax (<ipython-input-18-405abcf9b4b1>, line 1)

In [19]:
a1 = 56

In [20]:
a1

56

In [21]:
_a = 54

In [22]:
_a

54

In [23]:
a 1 = 76

SyntaxError: invalid syntax (<ipython-input-23-d9c59ae1075c>, line 1)

In [24]:
a_1 = 76

In [25]:
a_1

76

In [26]:
porosity = 0.5

In [29]:
type(porosity)

float

In [30]:
## Dcostring: documentation of a function

In [31]:
poro_1 = 0.5
poro_2 = 0.2

print(poro_1+poro_2)
print(poro_1-poro_2)

0.7
0.3

### input = Taking input from user

- input function takes input in form of strings

In [59]:
input()

''

In [60]:
porosity = input()

In [61]:
porosity

''

In [38]:
type(porosity)

str

In [42]:
porosity = float(input())
a = (porosity+5)*10
print(a)

56
610.0

In [43]:
float(6)

6.0

In [44]:
float("6")

6.0

In [45]:
float("hello6")

ValueError: could not convert string to float: 'hello6'

In [46]:
int(5.6)

5

In [47]:
int(5.9)

5

In [48]:
int("5")

5

In [49]:
int("a")

ValueError: invalid literal for int() with base 10: 'a'

In [50]:
str(45)

'45'

In [51]:
str(78.564)

'78.564'

In [55]:
porosity = float(input("Enter the Formation Porosity(in fraction): "))
permeability = float(input("Enter the formation permeability(mD): "))
water_saturation = float(input("Enter the water saturation(in %): "))
lithiology = input("Enter the lithology: ")

Enter the Formation Porosity(in fraction): 0.5
Enter the formation permeability(mD): 25
Enter the water saturation(in %): 15
Enter the lithology: Shale

## String formating: Making your string dynamic in nature

In [62]:

print("The porosity of formation is 0.5 \nPermeability of formation is 25 mD \nWater saturation is 15% \nand lithology is shale")

The porosity of formation is 0.5
Permeability of formation is 25 mD
Water saturation is 15%
and lithology is shale

In [69]:
porosity = float(input("Enter the Formation Porosity(in fraction): "))
permeability = float(input("Enter the formation permeability(mD): "))
water_saturation = float(input("Enter the water saturation(in %): "))
lithiology = input("Enter the lithology: ")
print("==================================")
print(f"The porosity of formation is {porosity*100}% \nPermeability of formation is {permeability} mD \nWater saturation is {water_saturation}% \nand lithology is {lithiology}")

Enter the Formation Porosity(in fraction): 0.12
Enter the formation permeability(mD): 126
Enter the water saturation(in %): 32
Enter the lithology: LST
==================================
The porosity of formation is 12.0%
Permeability of formation is 126.0 mD
Water saturation is 32.0%
and lithology is LST